@import '../../styles/variables';

.navigator {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: $text-color;
  text-decoration: none;
  font-variant: small-caps;
  &:hover {
    svg {
      display: block;
      fill: $blue-faded;
      &.selected {
        fill: $blue;
      }
    }
  }
  svg {
    margin-right: 6px;
    height: 6px;
    width: 6px;
    fill: rgba(0, 0, 114, 0.836);
    display: none;
    &.selected {
      display: block;
    }
  }
}

// mobile optimization
@media (min-width: 320px) and (max-width: 768px) {
  .navigator {
    font-size: 1.3em;
  }
}
