@media (min-width: 769px) {
  .mobile_nav {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .mobile_nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 20px;
    display: flex;
    justify-content: space-between;
  }
  .backdrop {
    width: 100vw;
    height: 1200px;
    background-color: black;
    opacity: 0.2;
    position: fixed;
    top: 0;
    left: 0;
  }
}
