// desktop optimization
.container {
  display: grid;
  grid-template-columns: 1fr minmax(320px, 620px) 1fr;
  section {
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 0 2rem;
    h1 {
      text-align: left;
    }
  }
}

// tablet optimization
@media (min-width: 768px) and (max-width: 961px) {
}

// mobile optimization
@media (min-width: 320px) {
}
