// desktop optimization
@media (min-width: 769px) {
  .nav_container {
    position: fixed;
    width: 100vw;
    height: 0;
    display: grid;
    grid-template-columns: 1fr minmax(320px, 680px) 1fr;
  }

  .main_container {
    position: absolute;
    display: grid;
    width: 100vw;
    height: 0;
    grid-template-columns: 1fr minmax(320px, 680px) 1fr;
  }

  .mobile_nav_container {
    display: none;
  }
}

// mobile optimization
@media (min-width: 320px) and (max-width: 768px) {
  .main_container {
    position: absolute;
    width: 100vw;
  }
  .nav_container {
    display: none;
  }
}
