// desktop optimization
.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr minmax(320px, 620px) 1fr;
}

.scroll-container {
  display: grid;
  grid-template-columns: 1fr minmax(320px, 620px) 1fr;
}

// tablet optimization
@media (min-width: 768px) and (max-width: 961px) {
}

// mobile optimization
@media (min-width: 320px) {
}
