.leftnav {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: flex-end;
  margin-top: 2rem;
  a {
    color: black;
    text-decoration: none;
    &.selected {
      text-decoration: underline;
    }
    &:hover {
      text-decoration: underline dotted;
    }
  }
}
