@import '../../styles/variables';

.title {
  h1 {
    padding-left: 0;
    margin-bottom: 0;
  }
  div {
    padding: 0.5em 0 1em 0;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
  }
}
