@import '../../styles/variables';

$svg-width: 16px;
$lighter: lighten($text-color, 50);

.rightnav {
  grid-column-start: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-width: 120px;
  margin-top: 0;
  padding: 0 0 8px 8px;
  box-sizing: border-box;
  height: 100vh;
  color: $lighter;
  div {
    display: flex;
    align-items: center;
    a {
      fill: $lighter;
      color: $lighter;
      &:hover {
        color: $text-color;
        fill: $text-color;
      }
      svg {
        width: $svg-width;
        height: min-content;
        margin: 0 6px;
      }
    }
  }
  span {
    font-size: 0.7em;
    font-weight: 300;
  }
}

#linkedin,
#github {
  width: $svg-width - 2;
}

#mail {
  padding-top: 2px;
}

// mobile optimization
@media (min-width: 320px) and (max-width: 768px) {
}
