$background-color: rgb(252, 252, 252);
$text-color: rgb(10, 10, 10);
$blue: rgba(0, 0, 114, 0.836);
$link-blue: rgb(0, 4, 250);
$blue-faded: #b1e9ff;
$font-fam: 'Lato', sans-serif;
$navbar-size: 40px;
