@import 'variables';
@import 'joshua';
@import 'creations';
@import 'writings';

@media (min-width: 769px) {
  body {
    margin: 0;
    font-family: $font-fam;
    background-color: $background-color;
    color: $text-color;
    font-size: 16px;
    overflow: auto !important;
  }

  main {
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 2rem;
  }

  h1 {
    font-weight: 800;
    font-size: 2.2em;
    padding-left: 1.5em;
    margin-top: 0.4em;
    margin-bottom: 1.2em;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New,
      monospace;
  }

  .title_circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $blue-faded;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 2em auto;
    svg {
      width: 70%;
      height: 70%;
    }
  }
}

// mobile optimization
@media (min-width: 320px) and (max-width: 768px) {
  body {
    margin: 0;
    font-family: $font-fam;
    background-color: $background-color;
    color: $text-color;
    font-size: 20px;
  }
  .title_circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $blue-faded;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 2em auto;
    svg {
      width: 70%;
      height: 70%;
    }
  }
}
