@import "variables";

body {
  margin: 0;
  font-family: $font-fam;
  background-color: $background-color;
  color: $text-color;
}

section {
  width: 70%;
  min-width: 320px;
  padding: 0 2rem;
  h1 {
    text-align: left;
  }
}
