@import "variables";

body {
  margin: 0;
  font-family: $font-fam;
  background-color: $background-color;
  color: $text-color;
}

// tablet optimization
@media (min-width: 768px) and (max-width: 961px) {
}

// mobile optimization
@media (min-width: 320px) {
}
