.writings {
  .title_circle svg {
    width: 60%;
    height: 60%;
    margin-left: 0.4em;
  }
  ol {
    padding-left: 1em;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.4em;
    .writing_link {
      color: $text-color;
      text-decoration: none;
      li {
        margin-bottom: 0.4em;
        &:hover {
          cursor: pointer;
          span {
            color: lighten($blue, 25);
          }
        }
        &:active span {
          color: lighten($blue, 25);
        }
        div {
          display: flex;
          justify-content: space-between;
          padding-left: 0.8em;
          span {
            text-decoration: underline;
          }
          i {
            padding-right: 4em;
          }
        }
      }
    }
  }
}

.a_writing {
  footer {
    margin-top: 3.5em;
    display: flex;
    justify-content: center;
  }
  a {
    color: $text-color;
    cursor: pointer;
    text-decoration: underline;
    &:hover {
      color: lighten($blue, 25);
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .writings {
    ol {
      .writing_link {
        li {
          margin-bottom: 1em;
          div {
            flex-direction: column;
            i {
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}
